<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Vue</title>
  </head>
  <body class="bg-light">
    <div class="container my-5" id="app">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="card shadow mb-4" v-for="(post, index) in posts">
            <div class="card-header">
              <h4 class="mb-0">{{ post.name.toUpperCase() }}</h4>
              <small>{{ formattedDate(post.addedOn) }}</small>
            </div>
            <div class="card-body">
              <p class="card-text">{{ post.body }}</p>

              <hr>

              <p>{{ post.likesCount }} likes</p> 

              <div v-if="post.userHasLikedThePost == true">
                <button class="btn btn-sm btn-dark" v-on:click="decrementLikes(index)">Dislike</button>
              </div>

              <div v-if="post.userHasLikedThePost == false">
                <button class="btn btn-sm btn-primary" v-on:click="incrementLikes(index)">Like</button>
              </div>

              <hr>

              <div class="mb-2" v-if="comments.length > 0">
                {{ post.comments.length }} comments for this post.
              </div>
              <div v-else>
                <small>No comments for this post.</small>
              </div>

              <hr>

              <div v-for="comment in post.comments">
                {{ comment }} 
              </div>

              <hr>


              <div class="form-group">
                <label for="comment">Add comment</label>
                <input type="text" class="form-control" id="#comment-index" v-model="newComment">
              </div>

              <button class="btn btn-primary mt-2" v-on:click="addNewComment(index)">Add comment</button>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var app = new Vue({
        el: '#app',

        data: {
          postBody: '',
          likes: 20,
          comments: ["First comment."],
          userHasLikedThePost: false,
          newComment: '',
          posts: [
            {
              "name": "Ravi Teja",
              "addedOn": "2021-02-02",
              "body": "Some title",
              "likesCount": "20",
              "userHasLikedThePost": true,
              "comments": []
            },
            {
              "name": "Venkatesh",
              "addedOn": "2021-02-02",
              "body": "Some New title",
              "likesCount": "20",
              "userHasLikedThePost": true,
              "comments": [
                "first comment"
              ]
            },
          ]
        },

        methods: {
          incrementLikes(index) {
            let post = this.posts[index];
            post["likesCount"] = post["likesCount"] + 1;
            post["userHasLikedThePost"] = true;
          },

          decrementLikes(index) {
            let post = this.posts[index];
            post["likesCount"] = post["likesCount"] - 1;
            post["userHasLikedThePost"] = false;
          },

          addNewComment(index) {
            let post = this.posts[index];
            post["comments"].push(this.newComment);
            // this.newComment = '';
          },

          deleteComment(index) {
            this.comments.splice(index, 1);
          },

          formattedDate(postDate) {
            return 'Fomatted date: ' + postDate;
          }
        }
      })
    </script>
  </body>
</html>